<!DOCTYPE HTML>
<html th:with="colors=${ {'#E84B0E','#C3E80E','#4DE80E','#0E96E8','#430EE8','#FB4206','#F3FB06','#06FB54','#0806FB'} }">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Bosch IoT Things - Example Data Historian</title>
      <!--
      Bosch SI Example Code License
      Version 1.0, January 2016

      Copyright 2016 Bosch Software Innovations GmbH ("Bosch SI"). All rights reserved.

      Redistribution and use in source and binary forms, with or without modification, are permitted provided that the 
      following conditions are met:

      1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following
      disclaimer.

      2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the
      following disclaimer in the documentation and/or other materials provided with the distribution.

      BOSCH SI PROVIDES THE PROGRAM "AS IS" WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING, BUT NOT
      LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. THE ENTIRE RISK AS TO
      THE QUALITY AND PERFORMANCE OF THE PROGRAM IS WITH YOU. SHOULD THE PROGRAM PROVE DEFECTIVE, YOU ASSUME THE COST OF 
      ALL NECESSARY SERVICING, REPAIR OR CORRECTION. THIS SHALL NOT APPLY TO MATERIAL DEFECTS AND DEFECTS OF TITLE WHICH 
      BOSCH SI HAS FRAUDULENTLY CONCEALED. APART FROM THE CASES STIPULATED ABOVE, BOSCH SI SHALL BE LIABLE WITHOUT
      LIMITATION FOR INTENT OR GROSS NEGLIGENCE, FOR INJURIES TO LIFE, BODY OR HEALTH AND ACCORDING TO THE PROVISIONS OF
      THE GERMAN PRODUCT LIABILITY ACT (PRODUKTHAFTUNGSGESETZ). THE SCOPE OF A GUARANTEE GRANTED BY BOSCH SI SHALL REMAIN
      UNAFFECTED BY LIMITATIONS OF LIABILITY. IN ALL OTHER CASES, LIABILITY OF BOSCH SI IS EXCLUDED. THESE LIMITATIONS OF 
      LIABILITY ALSO APPLY IN REGARD TO THE FAULT OF VICARIOUS AGENTS OF BOSCH SI AND THE PERSONAL LIABILITY OF BOSCH SI'S
      EMPLOYEES, REPRESENTATIVES AND ORGANS.
      -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.css" />
      <script type="text/javascript" src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.js"></script>
      <script th:inline="javascript">
         /*<![CDATA[*/
         "use strict";
         document.addEventListener("DOMContentLoaded", function () {
            var colors = [[${colors}]];

            var values = /*[[ ${values}?: null ]]*/ null;
            values = values !== null ? values : [];

            var xs = {};
            var columns = [];
            var displayColors = {};
            for (var i=0; i < values.length; i++) {
               var dataIdx = "data" + (i+1);
               var xIdx = "x" + (i+1);

               xs[dataIdx] = xIdx;

               var histoValues = values[i].data.values;
               var histoTS = values[i].data.timestamps;

               var tsIso = histoTS.map(function (d) {
                  return new Date(d).toISOString();
               });

               columns.push([xIdx].concat(tsIso));
               columns.push([dataIdx].concat(histoValues));

               displayColors[dataIdx] = colors[i];
            }

            var chart = c3.generate({
               bindto: "#chart",
               data: {
                  xs: xs,
                  xFormat: "%Y-%m-%dT%H:%M:%S.%LZ",
                  columns: columns,
                  colors: displayColors
               },
               axis: {
                  x: {
                     type: "timeseries",
                     tick: {
                        format: "%Y-%m-%dT%H:%M:%S.%L%Z",
                        count: 10
                     }
                  }
               },
               grid: {
                  x: {show: true},
                  y: {show: true}
               },
               legend: {hide: true},
               subchart: {show: true}
            });

         });
         /*]]>*/
      </script>
   </head>
   <body>
      <nav class="navbar navbar-inverse" th:unless="${embedded}">
         <div class="container">
            <div class="navbar-header">
               <div class="navbar-brand">Bosch IoT Things - Example Data Historian</div>
            </div>
         </div>
      </nav>
      <div class="container">
         <div class="starter-template">
            <h5 th:each="val,stat :${values}">
               <p th:attr="style=${'color: ' + colors[stat.index]}">
                  Thing: <span th:text="${val.param.thingId}" />
                  Feature: <span th:text="${val.param.featureId}" />
                  Property: <span th:text="${val.param.propertyPath}" />
               </p>
            </h5>
            <hr />
            <div id="chart" th:if="${values}"></div>
            <div class="panel panel-warning" th:unless="${values}">
               <div class="panel-heading">Property is not accessible or history data has not been collected</div>
               <div class="panel-body">
                  Please ensure that you have access on this Thing and you have included permissions 
                  for the Example Historian application to enable history collection.
               </div>
            </div>
         </div>
      </div>
   </body>
</html>
