<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <include resource="org/springframework/boot/logging/logback/base.xml"/>
   <logger name="io.netty" level="WARN"/>
   <logger name="org.springframework" level="WARN"/>
   <logger name="org.springframework.web" level="WARN"/>
   <logger name="com.bosch.iot.things.example.historian" level="INFO" />
   <logger name="com.bosch.iot.things.example.historian.Collector" level="DEBUG" />
</configuration>